version: '3.8'

# this docker-compose is deprecated
services:
  postgres-db:
    image: postgres:15-alpine
    container_name: iam-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: iam_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - iam-network

  iam-service:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: iam-service
    depends_on:
      - postgres-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/iam_db
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    ports:
      - "8189:8189"
    networks:
      - iam-network

volumes:
  postgres-data:

networks:
  iam-network:
